<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-lg-8 col-sm-10">
					<br>
					<br>
					<h1 class="mb-2">
						AutoInsurance Fraud Analysis
					</h1>
					<h3>
						Reported Period: Q1 2015
					</h3>
					<br>
				</div>
			</div>
			
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-4">
				<div class="card card-stats">
					<div class="card-header">
						<div class="card-icon">
							<i></i>
						</div>
						<h2 class="card-title">
							{{ card_data['percent_fraud'] }}
						</h2>
						<h4 class="card-category">
							Fraud Rate
						</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4">
				<div class="card card-stats">
					<div class="card-header">
						<div class="card-icon">
							<i></i>
						</div>
						<h2 class="card-title">
							{{ card_data['average_claim'] }}
						</h2>
						<h4 class="card-category">
							Average Claim Amount
						</h4>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4">
				<div class="card card-stats">
					<div class="card-header">
						<div class="card-icon">
							<i></i>
						</div>
						<h2 class="card-title">
							{{ card_data['fraud_loss'] }}
						</h2>
						<h4 class="card-category">
							Fraud Loss
						</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<div class="tab">
					<button class="tablinks" onclick="openTab(event, 'profile') " id="defaultOpen">by Profile
					</button>
					<button class="tablinks" onclick="openTab(event, 'report')">by Report
					</button>
					<button class="tablinks" onclick="openTab(event, 'Own')">Analysis
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<!-- Tab content -->
				<div id="profile" class="tabcontent">
					<br>
					<h3 style="color: #333333;text-align:center">Fraud Analysis by Customer Profile </h3>
					<div class="img-container"">
						{% if funded_plot != None %}
					  <img src="data:image/png;base64,{{ plot_age_res }}" style="width:46.5%;">
						{% endif %}
						{% if funded_plot != None %}
					  <img src="data:image/png;base64,{{ plot_premium_res }}" style="width:46.5%;">
						{% endif %}  
					</div>
				  </div>	

				<div id="report" class="tabcontent">
				  <br>
				  <h3 style="color: #333333;text-align:center">Fraud Analysis by Incident Report</h3>
				  <div class="img-container">
				  	{% if funded_plot != None %}
                    <img src="data:image/png;base64,{{ plot_incident_res }}" style="width:46.5%;">
					  {% endif %}
					  {% if funded_plot != None %}
					<img src="data:image/png;base64,{{ plot_report_res }}" style="width:46.5%;">
					  {% endif %}  
				  </div>
				</div>

				<div id="Own" class="tabcontent">
				  <!-- Define your own analysis -->
				  <br>
				  <h3 style="color: #333333;text-align:center">Fraud Analysis</h3>
				  <p style="color: #333333;text-align:justify">Dari data dan plot diagram tersebut dapat diambil informasi bahwa :</p>
				  <ul style="color: #333333;text-align:justify">
					<li>Fraud Rate pada Quarter 1 tahun 2015 adalah sebesar 24.7%</li>
					<li>Average Claim Amount pada Quarter 1 tahun 2015 sebesar US$ 52,761.94</li>
					<li>Fraud Loss pada Quarter 1 tahun 2015 sebesar US$ 14,894,620</li>
					<li>Fraud Reported didominasi oleh kelompok umur 31-35 tahun dengan angka 55 kejadian</li>
					<li>Fraud Reported paling kecil pada rentang umur 19-24 tahun dengan angka 8 kejadian</li>
					<li>Dari keseluruhan data Months as Customer per Policy Annual Premium didominasi dengan tidak adanya fraud yang dilaporkan</li>
					<li>Puncak fraud tertinggi yang dilaporkan adalah pada tanggal 3 Februari 2015 dengan jumlah di atas 25 laporan</li>
					<li>Fraud terendah yang dilaporkan adalah pada tanggal 4 Januari 2015 dengan jumlah laporan di bawah 10</li>
					<li>Dari keseluruhan kejadian baik itu yang dilaporkan ke kepolisian maupun tidak didominasi oleh tidak adanya fraud</li>
					<li>Masih banyak data yang tidak diketahui adanya laporan kepolisian, yang jumlahnya sebanding dengan kejadian yang tidak dilaporkan ke kepolisian</li>
				  </ul>
				</div>

			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
function openTab(evt, idName) {
	// Declare all variables
	var i, tabcontent, tablinks;

	// Get all elements with class="tabcontent" and hide them
	tabcontent = document.getElementsByClassName("tabcontent");
	for (i = 0; i < tabcontent.length; i++) {
	tabcontent[i].style.display = "none";
	}

	// Get all elements with class="tablinks" and remove the class "active"
	tablinks = document.getElementsByClassName("tablinks");
	for (i = 0; i < tablinks.length; i++) {
	tablinks[i].className = tablinks[i].className.replace(" active", "");
	}

	// Show the current tab, and add an "active" class to the button that opened the tab
	document.getElementById(idName).style.display = "block";
	evt.currentTarget.className += " active";


	}
	document.getElementById("defaultOpen").click();	
</script>